{#
  Displays all a user's npc kills.

  @TODO: Convert to a grid display.
#}
{% if kills %}
  <table class="kills">
    <th>Npc ID</th>
    <th>Npc</th>
    <th>Kill Count</th>
    <th>Items</th>
    {% for kill in kills %}
      <tr>
        {{ kill }}
      </tr>
    {% endfor %}
  </table>
{% endif %}
